# Flutter
.flutter-plugins
.flutter-plugins-dependencies
.packages
.dart_tool/
build/

# IDE files
.idea/
.vscode/

# Firebase 
google-services.json
firebase.json
firebase_options.dart

# Platform-specific files
/ios/Pods/
/ios/Flutter/App.framework
/ios/Flutter/engine.framework
/ios/Flutter/flutter_assets/
/ios/Flutter/.last_build_id

/android/.gradle
/android/app/src/main/assets/flutter_assets
/android/app/build
/android/gradle
/android/gradlew
/android/gradlew.bat
/android/local.properties
/android/key.properties